{{#with model}}
<div class="edit">
	<div class="row">
		<div class="label">头像</div>
		<div class="edit-info" id="editAvatar">
			<img {{bind-attr src=avatar}}>
		</div>
	</div>
	<div class="row">
		<div class="label">昵称</div>
		<div class="edit-info">
			{{input value=nickname}}
		</div>
	</div>
	<div class="row">
		<div class="label">账号</div>
		<div class="edit-info">
			{{username}}
		</div>
	</div>
</div>
<div class="edit">
	<div class="row" {{action "showSex"}}>
		<div class="label">性别</div>
		<div class="edit-info">
			{{sex}}
		</div>
	</div>
	<div class="row">
		<div class="label">地区</div>
		<div class="edit-info">
			<input type="text" id="txt_area" {{bind-attr value="area" data-value=areaid}} >
		</div>
	</div>
	<div class="row">
		<div class="label">个性签名</div>
		<div class="edit-info">
			{{input value=autograph}}
		</div>
	</div>
</div>
{{/with}}
{{#if isShowSex}}
<div class="mask" {{action "cancel"}}>
</div>
<div class="box sex-box">
	<div class="item" {{action "setSex" "男"}}>
		男
	</div>
	<div class="item" {{action "setSex" "女"}}>
		女
	</div>
</div>
{{/if}}