<div class="mem-list">
	{{#each item in model}}
	<div class="item">
		<div class="head">
			<div class="avatar">
				<img  {{bind-attr src=item.avatar}}>
			</div>
			{{#link-to "list.personal-data" item}}
			<div class="mem-desc">
				<div class="nickname">
				{{item.nickname}}
				</div>
				<div class="time">{{item.autograph}}</div>
			</div>
			{{/link-to}}
			{{#if item.isFollow}}
			<span class="follow ed" {{action "cancel" item}}>已关注</span>
			{{else}}
			<span class="follow" {{action "follow" item}}>+关注</span>
			{{/if}}
		</div>
		<div class="pub-content">
			<div class="pub-imgs">
				<div class="pub-img">
					<img {{bind-attr src=item.publish.img}}>
				</div>
				<div class="pub-img">
					<img {{bind-attr src=item.publish.img}}>
				</div>
				<div class="pub-img">
					<img {{bind-attr src=item.publish.img}}>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>
{{#if canLoadMore}}
<div class="ui-loading"><span>下拉查看更多</span><hr></div>
{{/if}}